name: Go (Non-CGO)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [stable, oldstable]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.version }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Install make (Windows)
      if: runner.os == 'Windows'
      run: choco install -y make mingw

    - name: Setup
      if: runner.os == 'Linux'
      run: make setup

    - name: Check
      if: runner.os == 'Linux'
      run: make check
      env:
        CGO_ENABLED: "0"

    - name: Short Check
      if: runner.os != 'Linux'
      run: make check
      env:
        CGO_ENABLED: "0"
        GOTEST_FLAGS: "-short"

    - name: Logs
      if: failure() && runner.os == 'Linux'
      run: docker compose logs
